{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    <img src="{{ albums.album_logo.url }}", alt = "Size is larger than expected"/>

    <h1>{{ albums.album_title }}</h1>>
    <h2>{{ albums.artist }}</h2>



    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'Music:detail' albums.id %}" method="post">
        {% csrf_token %}
        {% for song in albums.song_set.all %}

            <label for="song{{ forloop.counter }}">
                <li>{{ song.song_title }}</li>
            </label><br>
        {% endfor %}
    </form>
{% endblock %}


